<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ismael.pikaos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".UI.PikaosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".UI.videogame.ProposeVideogameView"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name=".UI.recoverAccount.RecoverAccountView"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".UI.newCompetition.NewCompetitionView"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".UI.chatTeam.ChatTeamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".UI.menuLocal.ActivityMenuLocal"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".UI.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".UI.menu.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.myCompetitionsManage.MyCompetitionsManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".UI.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".UI.newTeam.NewTeamView"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
    </application>

</manifest>